* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 25px 0;
}

#main {
    width: 500px;
    margin: 0 auto;
}

.main-item {
    height: 50px;
    width: 500px;
    border-radius: 25px;
}

#file-input {
    background-color: #77f;
    color: #fff;
    cursor: pointer;
    border-radius: 25px 0 0 25px;
}

#file-info {
    background-color: #ccf;
    border-radius: 0 25px 25px 0;
}

.input-error {
    width: 500px;
    color: #f00;
    text-indent: 150px;
}

#config-btn {
    background-color: #eee;
    color: #000;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

#check-btn {
    background-color: #5d5;
    color: #fff;
    opacity: 0.4;
}

#config-btn,
#check-btn {
    border-radius: 25px;
}

#download {
    background-color: #ccc;
    color: #000;
}

#check-btn.can-click {
    opacity: 1;
}

#check-btn.can-click:hover {
    opacity: 0.7;
}

#download.can-click {
    background-color: #77f !important;
}

.can-click {
    color: #fff !important;
    cursor: pointer;
}

#checker-result {
    width: calc(100% - 50px);
    background-color: #eee;
    border-radius: 25px;
    padding: 25px;
}

.result-table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
}

.result-table th,
.result-table td {
    border: 2px solid #777;
}

.result-table th {
    border-radius: 25px;
}

#overlay {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 70;
    width: 100%;
    height: 100%;
}

#bg-gray {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 80;
}

#window {
    width: 90%;
    padding: 25px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.6);
    z-index: 90;
    opacity: 0;
}

#close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;
}

#close-btn span,
#close-btn span::before {
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #000;
}

#close-btn span {
    transform: rotate(45deg);
}

#close-btn span::before {
    content: "";
    position: absolute;
    bottom: 0;
    transform: rotate(-90deg);
}


#popup:checked~#overlay {
    visibility: visible;
}

#popup:checked~#overlay #window {
    opacity: 1;
}

#checkboxes-group input {
    margin-right: 5px;
}

#checkboxes-group div {
    width: 25%;
}